// ALL THE VARIABLES
//****************************************
:root {
  --color-background-overlay: rgba(0, 0, 0, 0.74);
  --color-red: #D10E18;
  --color-dodgerblue:#1e90ff;
  --color-text:#fff;
}
