.form {
    display: flex;

    &__input {
        outline-style: none;
        padding: 0rem 0.5rem;

        &--small {
            width: 30rem;

            &::placeholder {
                font-size: 1.5rem;
            }

            &:focus {
                font-size: 1.5rem;
            }
        }

        &--large {
            width: 45rem;

            &::placeholder {
                font-size: 2rem;
            }

            &:focus {
                font-size: 2rem;
            }

            @media only screen and (max-width: 600px) {
                width: 40rem;
            }
        }

        &:focus {
            border: 0.5px solid var(--color-dodgerblue);
        }
    }
}
