.spinner {
    height: 60vh;
    width: 100%;

    display: flex;
    justify-content: center;
    align-items: center;

    img {
        height: 10rem;
        animation: spinner infinite 1.5s linear;
    }
}

@keyframes spinner {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}
